/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-image: linear-gradient(to bottom right, #ff0066, #ff6699);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #fff; /* Change text color to white */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff; /* Change text color to white */
}

input[type="text"],
input[type="email"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
  border-color: #fff; /* Change border color to white */
}

.error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

button {
  padding: 12px 20px;
  background-color: #fff; /* Change background color to white */
  color: #ff0066; /* Change text color to rose */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ff0066; /* Change background color on hover */
  color: #fff; /* Change text color on hover to white */
}

.submitted-data {
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
